<?xml version="1.0" encoding="UTF-8"?>
<!--
    A customization of the 5-point-choice question template to insert smileys.
-->

<config>
    <!-- Those metadata will be displayed in the template configuration page. They are not used for now. -->
    <metadata>
        <name>5-Point-Emojis</name>
        <type>question_theme</type>
        <title>5 Point Emojis</title>
        <creationDate>18/12/2019</creationDate>
        <author>Tony Partner</author>
        <authorEmail>tpartner@partnersurveys.com</authorEmail>
        <authorUrl>http://partnersurveys.com</authorUrl>
        <license>GNU General Public License version 2 or later</license>
        <version>1.0</version>
        <apiVersion>1</apiVersion>
        <description>A 5-point emoji question</description>
        <questionType>5</questionType>
        <group>Single choice questions</group>
        <subquestions>0</subquestions>
        <answerscales>0</answerscales>
        <hasdefaultvalues>0</hasdefaultvalues>
        <assessable>0</assessable>
        <class>choice-5-pt-radio</class>
    </metadata>

    <compatibility>
        <version>4.0</version>
    </compatibility>

    <!--
        Here the list of the css/js files to load.
        Any file here will be loaded via the asset manager (when in config.php debug = 0)
    -->
    <files>
        <css>
            <filename>css/5-point-emoji.css</filename>
        </css>
        <js>
        </js>
    </files>

    <custom_attributes>
		
        <!-- Hide some core attributes -->
        <attribute>
            <name>slider_rating</name>
            <category>Display</category>
            <inputtype/>
            <default>0</default>
        </attribute>
    </custom_attributes>

    <!-- Here datas about how LimeSurvey should load the core js/css of the question -->
    <engine>
        <load_core_css>true</load_core_css>
        <load_core_js>true</load_core_js>
        <show_as_template>true</show_as_template>
        <show_as_question_type>true</show_as_question_type>
    </engine>
</config>
