<?xml version="1.0" encoding="UTF-8"?>
<!--
    A customization of the 5-point-choice question template to insert emojis.
-->

<config>
    <!-- Those metadata will be displayed in the template configuration page. They are not used for now. -->
    <metadata>
        <name>5-Point-Emojis</name>
        <type>question_theme</type>
        <title>5 Point Emojis</title>
         <creationDate>2019-12-18 08:00</creationDate>
        <lastUpdate>2023-01-17 08:00</lastUpdate>
        <author>Tony Partner</author>
        <authorUrl>http://partnersurveys.com</authorUrl>
        <supportUrl>None</supportUrl>
        <license>GNU General Public License version 2 or later</license>
        <version>1.0</version>
        <apiVersion>1</apiVersion>
        <lastSecurityUpdate>1.0</lastSecurityUpdate>
        <description>A 5-point emoji question</description>
        <questionType>5</questionType>
        <group>Single choice questions</group>
        <subquestions>0</subquestions>
        <answerscales>0</answerscales>
        <hasdefaultvalues>0</hasdefaultvalues>
        <assessable>0</assessable>
        <class>choice-5-pt-radio</class>
    </metadata>

    <compatibility>
        <version>3.0</version>
        <version>4.0</version>
        <version>5.0</version>
        <version>6.0</version>
    </compatibility>

    <!--
        Here the list of the css/js files to load.
        Any file here will be loaded via the asset manager (when in config.php debug = 0)
    -->
    <files>
        <css>
            <filename>css/5-point-emoji.css</filename>
        </css>
        <js>
        </js>
        <preview>
            <filename>images/5-point-emojis-1.png</filename>
        </preview>
    </files>

    <custom_attributes>
        <!-- New attributes -->
        <attribute>
            <name>aria_label_1</name>
            <category>Custom options</category>
            <sortorder>0</sortorder>
            <inputtype>text</inputtype>
            <help>Text for the aria-label attribute for item 1</help>
            <caption>Aria label 1</caption>
            <default>Very sad</default>
            <i18n>1</i18n>
        </attribute>
        <attribute>
            <name>aria_label_2</name>
            <category>Custom options</category>
            <sortorder>0</sortorder>
            <inputtype>text</inputtype>
            <help>Text for the aria-label attribute for item 2</help>
            <caption>Aria label 2</caption>
            <default>Sad</default>
            <i18n>1</i18n>
        </attribute>
        <attribute>
            <name>aria_label_3</name>
            <category>Custom options</category>
            <sortorder>0</sortorder>
            <inputtype>text</inputtype>
            <help>Text for the aria-label attribute for item 3</help>
            <caption>Aria label 3</caption>
            <default>Neutral</default>
            <i18n>1</i18n>
        </attribute>
        <attribute>
            <name>aria_label_4</name>
            <category>Custom options</category>
            <sortorder>0</sortorder>
            <inputtype>text</inputtype>
            <help>Text for the aria-label attribute for item 4</help>
            <caption>Aria label 4</caption>
            <default>Happy</default>
            <i18n>1</i18n>
        </attribute>
        <attribute>
            <name>aria_label_5</name>
            <category>Custom options</category>
            <sortorder>0</sortorder>
            <inputtype>text</inputtype>
            <help>Text for the aria-label attribute for item 5</help>
            <caption>Aria label 5</caption>
            <default>Very happy</default>
            <i18n>1</i18n>
        </attribute>
        <!-- Hide some core attributes -->
        <attribute>
            <name>slider_rating</name>
            <category>Display</category>
            <inputtype/>
            <default>0</default>
        </attribute>
    </custom_attributes>
    <!-- Compatibility issue with LimeSurvey 6 : attributes === custom_attributes -->
    <attributes>
        <!-- New attributes -->
        <attribute>
            <name>aria_label_1</name>
            <category>Custom options</category>
            <sortorder>0</sortorder>
            <inputtype>text</inputtype>
            <help>Text for the aria-label attribute for item 1</help>
            <caption>Aria label 1</caption>
            <default>Very sad</default>
            <i18n>1</i18n>
        </attribute>
        <attribute>
            <name>aria_label_2</name>
            <category>Custom options</category>
            <sortorder>0</sortorder>
            <inputtype>text</inputtype>
            <help>Text for the aria-label attribute for item 2</help>
            <caption>Aria label 2</caption>
            <default>Sad</default>
            <i18n>1</i18n>
        </attribute>
        <attribute>
            <name>aria_label_3</name>
            <category>Custom options</category>
            <sortorder>0</sortorder>
            <inputtype>text</inputtype>
            <help>Text for the aria-label attribute for item 3</help>
            <caption>Aria label 3</caption>
            <default>Neutral</default>
            <i18n>1</i18n>
        </attribute>
        <attribute>
            <name>aria_label_4</name>
            <category>Custom options</category>
            <sortorder>0</sortorder>
            <inputtype>text</inputtype>
            <help>Text for the aria-label attribute for item 4</help>
            <caption>Aria label 4</caption>
            <default>Happy</default>
            <i18n>1</i18n>
        </attribute>
        <attribute>
            <name>aria_label_5</name>
            <category>Custom options</category>
            <sortorder>0</sortorder>
            <inputtype>text</inputtype>
            <help>Text for the aria-label attribute for item 5</help>
            <caption>Aria label 5</caption>
            <default>Very happy</default>
            <i18n>1</i18n>
        </attribute>
        <!-- Hide some core attributes -->
        <attribute>
            <name>slider_rating</name>
            <category>Display</category>
            <inputtype/>
            <default>0</default>
        </attribute>
    </attributes>
    <!-- Here datas about how LimeSurvey should load the core js/css of the question -->
    <engine>
        <load_core_css>true</load_core_css>
        <load_core_js>true</load_core_js>
        <show_as_template>true</show_as_template>
        <show_as_question_type>true</show_as_question_type>
    </engine>
</config>
